@font-face {
    font-family: chewy;
    src: url(./fonts/Chewy-Regular.ttf);
}

@font-face {
    font-family: arcade;
    src: url(./fonts/ARCADECLASSIC.TTF);
}

.title {
    text-align: center;
    font-size: 60px;
    font-family: arcade;
    color: pink;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    font-family: chewy;
    color: pink;
}

body {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,115,121,1) 46%, rgba(0,212,255,1) 100%);
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gradientBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#centerContainer {
    background: white;
    padding: 20px;
    border: 15px solid rgba(9,115,121,1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}
button {
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:chewy;
	font-size:25px;
	font-weight:normal;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;

}

button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

button:active{
    position: relative;
    top:1px;
}

.buttonContainer {
    display: inline-block;
    justify-content: space-around;
}

#choiceContainer {
    display: flex;
}

#player-choice {
    padding-right: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: chewy;
    color: purple;
}

#computer-choice {
    padding-left: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: chewy;
    color: orange;
}

#winsContainer {
    display: flex
}

#player-wins {
    padding-right: 250px;
    padding-top: 40px;
    padding-bottom:40px;
    font-family: chewy;
    color: purple;
}

#computer-wins {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: chewy;
    color: orange;
}

#pwins {
    font-family: chewy;
    color: purple;
}

#cwins {
    font-family: chewy;
    color: orange;
}

#round-winner-display {
    font-family: chewy;
    padding-top: 40px;
    padding-bottom: 40px;
}

#match-winner-display {
    font-family: chewy;
    padding-bottom: 40px;
    font-weight: bolder;
    font-size: xx-large;
    color: chartreuse;
}